/* место для вашего кода */

/* Секия Header - начало*/

.header {
  height: 293px;
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__menu {
  padding-top: -5px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  justify-content: start;
}

.header__links-list-item {
  line-height: 100%;
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.links_list_right {
  padding-left: 3px;
}

.header_logo {
  display: block;
  width: 136px;
  height: 105px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  font-style: normal; 
  padding-left: -1px;
}

.address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 24.3px;
}

/*Секция Header-Финал*/

/*Секция Cover-начало*/

.cover {
  min-height: 757px; 
  position: relative;
  color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;

  /*height: 100%;
  width: 100%; - Код не сработал. Overlay двигался за паддингом*/

  inset: 0;
  opacity: 60%;
  background-color: black;
}

/*Надстройка для всех оверлеев*/

.over_overlay {
  position: relative;
  z-index: 1;
}

.cover__title {
  text-transform:uppercase;
  font-weight: Bold;
  font-family: Raleway;
  font-size: 100px;
  line-height: 114.99999999999999%; 
  letter-spacing: 30px;
}

.letter-spacing-extended {
  display: block;
}

.aligned-text_left {
  text-align: left;
  margin-bottom: 23px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 30px;
  
}

.aligned-text_right {
  text-align: right;
  margin-right: -31px;
}

.cover__description-text {
  display: inline-block;
  font-family: Raleway;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 119px;
  margin-right: 102px;
}

.cover_text_left {
  word-spacing: 19.8px;
}

.cover_text_center {
  word-spacing: 18px;
}

.bet-button {
  font-family: Raleway;
  font-size: 22px;
  text-align: center;
  color:#FFFFFF;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px #FFFFFF solid;
}

/*Секция Cover-финал*/

/*Секция Lots-начало*/

.lots {
  margin: 180px 24px 60px;
  height: 723px;
  width: 1052px;
  color: #FFFFFF;
}

.lots__heading {
  font-family: Raleway;
  height: 47px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
  margin: 0 891px 24px 40px;
}

/*Список карточек*/

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*Пункт списка*/

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  position: relative;
}

.card-link {
  height: 100%;
  display: block;
}

.card__title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  margin: 48px 40px 0;
}

.card__text {
  /*height: 100%;*/
  margin: 0 40px 48px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;

}

.lots_box_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: lowercase;
  text-underline-offset: 4px;
  padding-left: 40px;
}

/*Секция Lots-финал*/












/*Секция About-начало*/

.about {
   color: brown;
   margin: 60px 24px 180px;
}

.logo_about {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.logo_about_image {
  width: 148px;
  height: 114px;
}

.footer {
   color: brown;
}