/* место для вашего кода */

/* Секия Header - начало*/

.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-underline-offset: 4px;
}

/*Стили контактов*/

.address {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  font-style: normal;
  text-underline-offset: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  justify-content: start;
}

.header__links-list-item {
  line-height: 100%;
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 136px;
  height: 105px;
  margin-top: 1px;
}

.header__address {
  justify-self: end;
  width: 239px;
  margin-top: 1px;
}

/*Секция Header-Финал*/

/*Секция Cover-начало*/

.cover {
  min-height: 757px;
  position: relative;
  color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 20px 50px 50px;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 60%;
  background-color: black;
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  font-weight: Bold;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-top: 21px;

}

.aligned-text_right {
  text-align: right;
  margin-top: 21px;
}

.cover__description-text {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 119px;
  margin-right: 102px;
}

.cover_text_left {
  word-spacing: 19.8px;
}

.cover_text_center {
  word-spacing: 18px;
}

.bet-button {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px #ffffff solid;
}

/*Секция Cover-финал*/

/*Секция Lots-начало*/

.lots {
  margin: 184px 24px 119px;
  width: 1052px;
  color: #ffffff;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px 40px;
}

/*Список карточек*/

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*Пункт списка*/

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.card-link {
  height: 100%;
  display: block;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  margin: 48px 40px 0;
}

.card__text {
  margin: 0 40px 48px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: lowercase;
  text-underline-offset: 4px;
  padding-left: 40px;
}

/*Секция Lots-финал*/

/*Секция About-начало*/

.about {
  display: grid;
  grid-template-columns: 287px auto;
  gap: 72px;
  color: black;
  margin: 60px 24px 168px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin: 35px 0 320px 47px;
}

.logo_about_image {
  width: 148px;
  height: 114px;
}

.about__column {
  margin: 133px 0 13px;
}

.about__title {
  margin: 3px 351px 100px 0;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about_text_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 688px;
}

/*Секция About-финал*/

/*Секция footer-начало*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.address_footer {
  justify-self: start;
  width: 264.57px;
}

.footer__menu {
  justify-self: center;
  width: 164px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  list-style: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__social-list {
  justify-self: end;
  width: 240px;
  display: flex;
  gap: 48px;
  list-style: none;
  margin-left: 25px;
}

.footer__social-list-item {
  border: 1px #000000;
  border-radius: 50%;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}

/*Секция footer-финал*/
